# compose.yml
name: howdy-world
services:
  dashboard:
    build: ./_dashboard
    container_name: dashboard
    expose:
      - "8080"

  infrastructure_proxy_nginx:
    build: ./_infrastructure/proxy/nginx
    container_name: infrastructure_proxy_nginx
    ports:
      - "80:80"
    restart: unless-stopped

  caddy:
    build: ./caddy
    container_name: caddy
    expose:
      - "8080"
  clojure:
    build: ./clojure
    container_name: clojure
    expose:
      - "3000"
  dotnet-aspnet:
    build: ./dotnet-aspnet
    container_name: dotnet-aspnet
    expose:
      - "8080"
  elixir-bandit:
    build: ./elixir-bandit
    container_name: elixir-bandit
    expose:
      - "4000"
  elixir-phoenix:
    build: ./elixir-phoenix
    container_name: elixir-phoenix
    expose:
      - "4000"
  go:
    build: ./go
    container_name: go
    expose:
      - "8080"
  java-spring-boot:
    build: ./java-spring-boot
    container_name: java-spring-boot
    expose:
      - "8080"
  javascript:
    build: ./javascript
    container_name: javascript
    expose:
      - "8080"
  javascript-inertia:
    build: ./javascript-inertia
    container_name: javascript-inertia
    expose:
      - "3000"
  javascript-jquery:
    build: ./javascript-jquery
    container_name: javascript-jquery
    expose:
      - "8080"
  javascript-react:
    build: ./javascript-react
    container_name: javascript-react
    expose:
      - "8080"
  javascript-stimulus:
    build: ./javascript-stimulus
    container_name: javascript-stimulus
    expose:
      - "8080"
  javascript-vue:
    build: ./javascript-vue
    container_name: javascript-vue
    expose:
      - "8080"
  odin:
    build: ./odin
    container_name: odin
    expose:
      - "6969"
  php:
    build: ./php
    container_name: php
    expose:
      - "8080"
  python-fastapi:
    build: ./python-fastapi
    container_name: python-fastapi
    expose:
      - "8000"
  ruby-falcon:
    build: ./ruby-falcon
    container_name: ruby-falcon
    expose:
      - "3000" # Ruby HTTP server listens on this port
  ruby-on-rails:
    build: ./ruby-on-rails
    container_name: ruby-on-rails
    expose:
      - "3000" # Ruby on Rails HTTP server listens on 3000
  ruby-webrick:
    build: ./ruby-webrick
    container_name: ruby-webrick
    expose:
      - "3000" # Ruby HTTP server listens on this port
  rust-leptos:
    build: ./rust-leptos
    container_name: rust-leptos
    expose:
      - "3000"
  zig:
    build: ./zig
    container_name: zig
    expose:
      - "3000"
