# compose.yml
services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro # overrides default
      - ./nginx/conf.d:/etc/nginx/conf.d:ro # include endpoints
    restart: unless-stopped

  dashboard:
    build:
      context: ./_dashboard
      dockerfile: Dockerfile
    container_name: dashboard
    expose:
      - "8080"

  caddy:
    build:
      context: ./caddy
    container_name: caddy
    expose:
      - "8080"
  dotnet-aspnet:
    build:
      context: ./dotnet-aspnet
    container_name: dotnet-aspnet
    expose:
      - "8080"
  elixir-bandit:
    build:
      context: ./elixir-bandit
    container_name: elixir-bandit
    environment:
      - PORT=4000
    expose:
      - "4000"
  elixir-phoenix:
    build:
      context: ./elixir-phoenix
    container_name: elixir-phoenix
    environment:
      - PORT=4000
    expose:
      - "4000"
  go:
    build:
      context: ./go
    container_name: go
    environment:
      - PORT=8080
    expose:
      - "8080"
  java-spring-boot:
    build:
      context: ./java-spring-boot
    container_name: java-spring-boot
    environment:
      - PORT=8080
    expose:
      - "8080"
  javascript:
    build:
      context: ./javascript
    container_name: javascript
    expose:
      - "8080"
  javascript-inertia:
    build:
      context: ./javascript-inertia
    expose:
      - "3000"
  javascript-jquery:
    build:
      context: ./javascript-jquery
    container_name: javascript-jquery
    expose:
      - "8080"
  javascript-react:
    build:
      context: ./javascript-react
    container_name: javascript-react
    environment:
      - PORT=8080
  javascript-stimulus:
    build:
      context: ./javascript-stimulus
    container_name: javascript-stimulus
    expose:
      - "8080"
  javascript-vue:
    build:
      context: ./javascript-vue
    container_name: javascript-vue
    expose:
      - "8080"
  odin-http:
    build:
      context: ./odin-http
    container_name: odin-http
    expose:
      - "6969"
  ruby-falcon:
    build: ./ruby-falcon
    container_name: ruby-falcon
    expose:
      - "3000" # Ruby HTTP server listens on this port
  ruby-on-rails:
    build: ./ruby-on-rails
    container_name: ruby-on-rails
    expose:
      - "3000" # Ruby on Rails HTTP server listens on 3000
  ruby-webrick:
    build: ./ruby-webrick
    container_name: ruby-webrick
    expose:
      - "3000" # Ruby HTTP server listens on this port
  rust-leptos:
    build:
      context: ./rust-leptos
    container_name: rust-leptos
    expose:
      - "3000"
  zig:
    build:
      context: ./zig
    container_name: zig
    expose:
      - "3000"
