# docker-compose.yml
services:
  nginx:
    # e.g. http://howdy.localhost/
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      # FIXME: this is convoluted and likely unnecessary
      # - ./javascript:/srv/javascript:ro
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./nginx/www:/usr/share/nginx/html:ro
      - ./nginx/conf.d/javascript-inertia.conf:/etc/nginx/conf.d/javascript-inertia.conf:ro
      - ./javascript-jquery:/srv/javascript-jquery:ro
      - ./javascript-stimulus:/srv/javascript-stimulus:ro
      - ./javascript-vue:/srv/javascript-vue:ro
    depends_on:
      - java-spring
      - javascript-inertia
      # - javascript-react
      - ruby
      - ruby-on-rails
      - zig
    restart: unless-stopped

  dashboard:
    build:
      context: ./_dashboard
      dockerfile: Dockerfile
    container_name: dashboard
    expose:
      - "8080"

  dotnet-aspnet:
    build:
      context: ./dotnet-aspnet
    expose:
      - "8080"
  elixir-bandit:
    build:
      context: ./elixir-bandit
    environment:
      - PORT=4000
    expose:
      - "4000"
  elixir-phoenix:
    build:
      context: ./elixir-phoenix
    environment:
      - PORT=4000
    expose:
      - "4000"
  go:
    build:
      context: ./go
    environment:
      - PORT=8080
    expose:
      - "8080"
  java-spring:
    build:
      context: ./java-spring
    environment:
      - PORT=8080
    expose:
      - "8080"
    restart: unless-stopped
  javascript:
    build:
      context: ./javascript
    container_name: javascript
    expose:
      - "8080"
  javascript-inertia:
    build:
      context: ./javascript-inertia
    environment:
      - PORT=3000
      - NODE_ENV=production
      - BASE_PATH=/javascript-inertia/
    expose:
      - "3000"
  javascript-jquery:
    build:
      context: ./javascript-jquery
    container_name: javascript-jquery
    expose:
      - "8080"
  javascript-react:
    build:
      context: ./javascript-react
    environment:
      - PORT=8080
  ruby:
    build: ./ruby
    container_name: ruby-app
    expose:
      - "3000" # Ruby HTTP server listens on this port
  ruby-on-rails:
    build: ./ruby-on-rails
    container_name: ruby-on-rails-app
    expose:
      - "3000" # Ruby on Rails HTTP server listens on 3000
  rust-leptos:
    build:
      context: ./rust-leptos
    container_name: rust-leptos
    expose:
      - "3000"
  zig:
    build:
      context: ./zig
    expose:
      - "3000"
