# docker-compose.yml
services:
  nginx:
    # e.g. http://localhost/
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./nginx/www:/usr/share/nginx/html:ro
      - ./nginx/conf.d/javascript-inertia.conf:/etc/nginx/conf.d/javascript-inertia.conf:ro
      - ./javascript-stimulus:/srv/javascript-stimulus:ro
      - ./javascript-vue:/srv/javascript-vue:ro
    depends_on:
      - javascript_inertia
      - ruby
      - ruby-on-rails

  javascript_inertia:
    build:
      context: ./javascript-inertia
    environment:
      - PORT=3000
      - NODE_ENV=production
      - BASE_PATH=/javascript-inertia/
    expose:
      - "3000"
  ruby:
    # e.g. http://localhost/ruby
    build: ./ruby
    container_name: ruby-app
    expose:
      - "3000" # Ruby HTTP server listens on this port
  ruby-on-rails:
    # e.g. http://localhost/ruby-on-rails
    build: ./ruby-on-rails
    container_name: ruby-on-rails-app
    expose:
      - "3000" # Ruby on Rails HTTP server listens on 3000
