# docker-compose.yml
services:
  nginx:
    # e.g. http://localhost/
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      # FIXME: this is convoluted and likely unnecessary
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./nginx/www:/usr/share/nginx/html:ro
      - ./javascript:/srv/javascript:ro
      - ./nginx/conf.d/javascript-inertia.conf:/etc/nginx/conf.d/javascript-inertia.conf:ro
      - ./javascript-jquery:/srv/javascript-jquery:ro
      # - ./javascript-react/dist:/srv/javascript-react-dist:ro
      - ./javascript-stimulus:/srv/javascript-stimulus:ro
      - ./javascript-vue:/srv/javascript-vue:ro
    depends_on:
      - java-spring
      - javascript_inertia
      - javascript-react
      - ruby
      - ruby-on-rails
      - zig
    restart: unless-stopped

  elixir-bandit:
    build:
      context: ./elixir-bandit
    environment:
      - PORT=4000
    expose:
      - "4000"
  elixir-phoenix:
    build:
      context: ./elixir-phoenix
    environment:
      - PORT=4000
    expose:
      - "4000"
  go:
    build:
      context: ./go
    environment:
      - PORT=8080
    expose:
      - "8080"
  java-spring:
    build:
      context: ./java-spring
    container_name: howdy-java-spring
    environment:
      - PORT=8080
    expose:
      - "8080"
    restart: unless-stopped
    # networks:
    #   - corral
  javascript_inertia:
    build:
      context: ./javascript-inertia
    environment:
      - PORT=3000
      - NODE_ENV=production
      - BASE_PATH=/javascript-inertia/
    expose:
      - "3000"
  # Production build: generates dist into a named volume
  javascript-react:
    build:
      context: ./javascript-react
    container_name: javascript-react
    command: [ "sh", "-lc", "bun install && bun run build" ]
    volumes:
      # Writes dist/ onto your host at ./javascript-react/dist
      - ./javascript-react:/app
    restart: "no"
  ruby:
    # e.g. http://localhost/ruby
    build: ./ruby
    container_name: ruby-app
    expose:
      - "3000" # Ruby HTTP server listens on this port
  ruby-on-rails:
    # e.g. http://localhost/ruby-on-rails
    build: ./ruby-on-rails
    container_name: ruby-on-rails-app
    expose:
      - "3000" # Ruby on Rails HTTP server listens on 3000
  zig:
    build:
      context: ./zig
    expose:
      - "3000"
    restart: unless-stopped
    # If your nginx is on a custom network, put zig on the same one:
    # networks:
    #   corral:
    #     external: true
