<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Howdy World</title>
  <style>
    body {
      font-family: sans-serif;
      margin: 40px;
      background: #f7f7f7;
    }
    h1,
    h2 {
      color: #333;
    }
    ul a,.app-list a {
      display: block;
      padding: 10px 0;
      text-decoration: none;
      font-size: 1.2em;
      color: #0645AD;
    }
    ul a:hover,
    .app-list a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <img src="/howdy-world.png" alt="Howdy World Cowboy" />
  <h1>Howdy World</h1>
  <h2>It&rsquo;s Hello World, <em>Texas-style!</em></h2>
  <h3>Languages and Frameworks</h3>
  <p>Click on the links below to see a demonstration of that language or framework.</p>
  <!--ul>
    <li><a href="/ruby/">Ruby</a></li>
    <li><a href="/ruby-on-rails/">Ruby on Rails</a></li>
  </ul-->
  <div class="app-list">
    <% config.each do |service_type, languages| %>
      <ul><li><%= service_type.capitalize %><ul>
      <% languages.each do |language| %>
        <li><a href="/<%= language[:slug] %>/"><%= language[:display_name] %></a></li>
      <% end %>
      </ul></li></ul>
    <% end %>
  </div>
  <footer>
    <p>&copy;2025 Stan Carver II</p>
    <img src="/made-in-texas.png" alt="Made in Texas" />
  </footer>
</body>
</html>
