/* home-static/www/assets/howdy.css */

body {
    font-family: sans-serif;
    margin: 40px;
    background: #f7f7f7;
}

h1,
h2 {
    color: #333;
}

ul {
    list-style-type: none;
}

ul li {
    font-size: 1.1em;
    padding: .2em 0;
}

ul a {
    color: #e29b0e;
    font-size: 1em;
    text-decoration: none;
}

ul a:hover {
    text-decoration: underline;
}

/* Theme */

header {
    display: flex;
    gap: 20px;
}

header :first-child {
    width: 240px;
}

header img {
    width: 100%;
    height: auto;
}

header :last-child {
    flex: 1;
}