# javascript-react/compose.yml
services:
  javascript-react:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: javascript-react
    expose:
      - "8080"
    restart: unless-stopped
