# swift-vapor/.gitignore
# For language-specific templates, from https://github.com/github/gitignore

# Build & Compilation Artifacts
.build
*.bak
*.dll
*.dylib
*.exe
*.out
*.so
*.swp
*.tmp
**/obj
*~
# bin
# build
dist
target

# Logs
*.logs

# OS
.DS_Store
.localized
$RECYCLE.BIN
desktop.ini
Thumbs.db
